*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
  scroll-behavior: smooth;
  font-family: Montserrat;
  background-color: #15283F;
}

.wrapper {
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  padding: 3.85vw 0;
}

@media (min-width: 1921px) {
  .wrapper {
    padding-top: 74px 0;
  }
}
@media (max-width: 799px) {
  .wrapper {
    padding-top: 44vw;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 6.45%;
          column-gap: 6.45%;
  margin: 0 0 22vw auto;
  position: relative;
  padding-right: 18.75%;
}
.header .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18vw;
  aspect-ratio: 351/371;
}
.header .logo svg {
  width: 100%;
  height: 100%;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  font-family: Inter;
  font-size: 1.7rem;
  line-height: 111.7647058824%;
  margin-left: auto;
}
.header .nav .nav__language {
  color: #CCDDE5;
  background-color: #15283F;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-size: 1.7rem;
}
.header .nav .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  font-weight: medium;
}
.header .nav .nav__right a {
  color: #FDFEFF;
  cursor: pointer;
}
.header .nav .nav__right a:hover {
  color: #4CB8E9;
}

@media (max-width: 1450px) {
  .header {
    padding-right: 0;
  }
}
@media (min-width: 1921px) {
  .header {
    margin: 0 0 421px auto;
  }
}
@media (max-width: 799px) {
  .header {
    display: none;
  }
}
.form {
  max-width: 699px;
  margin: 0 auto;
  text-align: left;
}
.form .title {
  font-weight: medium;
  font-size: 3.5rem;
  line-height: 122.8571428571%;
  color: #FDFEFF;
  margin: 0 0 18px;
}
@media (max-width: 799px) {
  .form .title {
    font-size: 2.5rem;
    margin: 0 0 26px;
  }
}
.form label {
  display: block;
  cursor: pointer;
}
.form label p {
  font-weight: medium;
  font-size: 2.5rem;
  line-height: 120%;
  color: #CCDDE5;
  margin: 0 0 15px;
}
@media (max-width: 799px) {
  .form label p {
    font-size: 1.9rem;
    margin: 0 0 8px;
  }
}
.form label div {
  border: 1px solid #41586C;
  padding: 31px 13% 31px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form label div input {
  outline: none;
  background-color: #15283F;
  width: 100%;
  height: 30px;
  font-size: 2.5rem;
  line-height: 120%;
  color: #FDFEFF;
}
.form label div input::-webkit-input-placeholder {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 120%;
}
.form label div input:-ms-input-placeholder {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 120%;
}
.form label div input::-ms-input-placeholder {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 120%;
}
.form label div input::placeholder {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 120%;
}
@media (max-width: 799px) {
  .form label div input {
    font-size: 1.5rem;
  }
  .form label div input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .form label div input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .form label div input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .form label div input::placeholder {
    font-size: 1.5rem;
  }
}
.form label div .show-password:hover path {
  fill: white;
  stroke: white;
}
@media (max-width: 799px) {
  .form label div {
    padding: 16px 9px;
  }
}
.form label.label_email {
  margin: 0 0 28px;
}
.form label.label_password {
  margin: 0 0 8px;
}
.form label.label_invalid p {
  color: red;
}
.form label.label_invalid div {
  border-color: red;
}
.form .forgot-password {
  font-weight: medium;
  font-size: 2.2rem;
  line-height: 145.4545454545%;
  color: #4CB8E9;
  cursor: pointer;
  display: block;
  margin: 0 0 37px;
}
.form .forgot-password:hover {
  color: white;
}
@media (max-width: 799px) {
  .form .forgot-password {
    font-size: 1.5rem;
    margin: 0 0 26px;
  }
}
.form .button {
  width: 100%;
  padding: 32px 10px;
  background-color: #4CB8E9;
  color: #FDFEFF;
  font-family: Inter;
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  cursor: pointer;
}
.form .button:hover {
  background-color: white;
  color: #4CB8E9;
}
@media (max-width: 799px) {
  .form .button {
    padding: 20px 5px;
    font-size: 2rem;
  }
}

@media (max-width: 799px) {
  .form {
    max-width: 246px;
  }
}
